.title {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 48px;
}
.wrapBook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}
.wrapImgBook {
  width: 550px;
  max-height: 470px;
  background-color: #fee9e2;
  position: relative;
}
.likeImg {
  font-size: 24px;
  padding: 16px;
  color: white;
  position: absolute;
  background-color: black;
  right: 0;
  top: 0;
  transition: 0.2s;
}
.likeImg:active {
  transform: scale(0.98);
}
.likeImgActive {
  color: #fc857f;
}
.img {
  width: 100%;
  max-height: 470px;
  object-fit: contain;
  object-position: center;
}
.wrapContent {
  width: 450px;
  padding: 40px 0px 0px 0px;
  border-top: 1px solid lightgray;
  margin-left: 40px;
}
.wrapPriceRating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  text-align: center;
}
.price {
  font-size: 40px;
}
.rating {
  display: flex;
  align-items: center;
}
.wrapItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.wrapList {
  display: flex;
  justify-content: space-between;
}
.item {
}
.itemList {
  color: lightgray;
  margin-bottom: 14px;
}
.itemListDis {
  text-align: right;
  margin-bottom: 14px;
}
.moreDetailse {
  display: flex;
  margin-bottom: 60px;
}
.previewBook {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.wrapDescription {
  margin-top: 50px;
}

@media screen and (max-width: 769px) {
  .wrapBook {
    flex-direction: column;
  }
  .wrapImgBook {
    width: 100%;
    margin-bottom: 50px;
  }
  .wrapContent {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 426px) {
  .title {
    color: rgb(49, 48, 55);
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
  }
  .price {
    font-size: 32px;
  }
}
