.footer {
  background-color: white;
  padding: 0px 20px;
}
.container {
  max-width: 1270px;
  margin: auto;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  padding: 35px 0px;
}
.text {
  color: lightgray;
}
