.wrapCard {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
  width: 100%;
}
.wrapCard:last-child {
  margin-bottom: 0;
}
.wrapImg {
  background-color: #f4eefd;
  width: 30%;
  max-height: 200px;
}
.img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  object-position: center;
}
.wrapContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.wrapTitleSubTit {
  width: 60%;
}
.title {
  color: #313037;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 20px;
}
.subTitle {
  color: #a8a8a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.wrapCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-top: 45px;
}
.icon {
  font-size: 24px;
  transition: 0.2;
}
.iconClose {
  font-size: 24px;
}
.iconClose:hover {
  color: #fc857f;
}
.count {
  font-size: 24px;
}
.wrapPriceClose {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  color: #313037;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
}

@media screen and (max-width: 769px) {
  .wrapImg {
    width: 48%;
  }
  .wrapTitleSubTit {
    width: 50%;
  }
  .wrapPriceClose {
    flex-direction: column-reverse;
    align-items: end;
    width: 20%;
  }
  .wrapContent {
    width: 88%;
  }
  .count {
    font-size: 18px;
  }
  .icon {
    font-size: 18px;
  }
  .iconClose {
    font-size: 18px;
  }
  .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 670px) {
  .price {
    font-size: 30px;
  }
  .title {
    margin-bottom: 10px;
  }
  .wrapCount {
    margin-top: 20px;
  }
}
@media screen and (max-width: 525px) {
  .price {
    font-size: 25px;
    line-height: 25px;
  }
  .wrapCount {
    margin-top: 10px;
  }
}
@media screen and (max-width: 426px) {
  .wrapContent {
    width: 100%;
  }
  .wrapImg {
    width: 100%;
  }
  .title {
    margin-top: 20px;
    font-size: 30px;
  }
  .wrapTitleSubTit {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wrapCard {
    flex-direction: column;
    position: relative;
  }
  .wrapContent {
    flex-direction: column;
  }
  .wrapCount {
    margin-top: 20px;
  }
  .price {
    position: absolute;
    top: 94%;
    right: 0;
  }
  .iconClose {
    width: 30px;
    height: 30px;
    position: absolute;
    color: white;
    top: 0px;
    right: 0px;
    background-color: black;
  }
}
