.btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #5b5a62;
}
.btn:active {
  transform: scale(0.999);
}
.addToCart {
  width: 100%;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}
.singIn {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-top: 24px;
}
.total {
  width: 100%;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}
.SaveChanges {
  width: 300px;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 24px;
}
.Cancel {
  width: 300px;
  color: black;
  letter-spacing: 1.2px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #e7e7e7;
  margin-left: 30px;
  font-size: 24px;
}

@media screen and (max-width: 626px) {
  .Subscribe {
    margin-top: 40px;
    width: 100%;
  }
}
