.btn {
  background-color: black;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.1s;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.btn:hover {
  background-color: #5b5a62;
}
.btn:active {
  transform: scale(0.998);
}
.addToCart {
  width: 100%;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}
.singIn {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-top: 24px;
}
.total {
  width: 100%;
}
.SaveChanges {
  width: 230px;
  padding: 10px 10px;
  text-align: center;
}

.Cancel {
  padding: 10px 10px;
  width: 230px;
  color: rgb(49, 48, 55);
  background-color: transparent;
  border: 1px solid #e7e7e7;
  margin-left: 20px;
}
.logOut {
  padding: 10px 10px;
  width: 230px;
  color: rgb(49, 48, 55);
  background-color: transparent;
  border: 1px solid #e7e7e7;
  margin-left: 20px;
}

@media screen and (max-width: 769px) and (hover: none) {
  .btn:active {
    background-color: #5b5a62;
  }
  .logOut {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
  .SaveChanges {
    width: 100%;
  }
  .Cancel {
    width: 100%;
    margin: 24px 0px 0px 0px;
  }
  .Subscribe {
    margin-top: 20px;
  }
}
