.newBoooks {
  background-color: white;
  padding: 30px 20px 72px 20px;
}
.container {
  max-width: 1270px;
  margin: auto;
}
.wrap {
}
.title {
  text-transform: uppercase;
  margin-bottom: 30px;
  cursor: default;
  font-weight: 700;
  font-size: 40px;
  line-height: 114%;
  font-style: normal;
}
.wrapCards {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 1250px;
}
@media screen and (max-width: 769px) {
  .wrapCards {
    height: 2200px;
  }
}
@media screen and (max-width: 426px) {
  .wrapCards {
    height: 2400px;
  }
}
@media screen and (max-width: 426px) {
  .title {
    font-size: 35px;
  }
}
