.newBoooks {
  background-color: white;
  padding: 30px 20px 72px 20px;
}
.container {
  max-width: 1270px;
  margin: auto;
}
.wrap {
}
.title {
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: default;
  font-weight: 700;
  font-size: 40px;
  line-height: 114%;
  font-style: normal;
}
.wrapCards {
  height: 1200px;
  position: relative;
}
@media screen and (max-width: 769px) {
  .wrapCards {
    height: 2200px;
  }
}
@media screen and (max-width: 669px) {
  .wrapCards {
    height: 2100px;
  }
}
@media screen and (max-width: 554px) {
  .wrapCards {
    height: 2000px;
  }
}
@media screen and (max-width: 426px) {
  .wrapCards {
    height: 2100px;
  }
}
.title {
  font-size: 44px;
}
