.swiper {
  height: 1200px;
  position: static;
}
.swiper-pagination-horizontal {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #d7e4fd;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.buttonPrev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 99%;
  left: 0;
}
.buttonNext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  cursor: pointer;
  position: absolute;
  top: 99%;
  z-index: 100;
  right: 0;
}

@media screen and (max-width: 900px) {
  .swiper {
    height: 870px;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 1900px;
  }
  .swiper-slide img{
    object-fit: contain;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 1800px;
  }
}
