.navAndPag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #d7e4fd;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.buttonPrev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  cursor: pointer;
}
.buttonNext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  cursor: pointer;
}
.pngStyle {
  position: static;
}
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  transform: none;
}
.swiper-pagination-bullet {
  background: transparent;
  color: rgb(168, 168, 168);
}
.swiper-pagination-bullet-active {
  border: 2px solid rgb(49, 48, 55);
  color: rgb(49, 48, 55);
  font-size: 24px;
}
