.newBoooks {
  background-color: white;
  padding: 30px 20px 72px 20px;
}
.container {
  max-width: 1270px;
  margin: auto;
}
.wrap {
}
.title {
  text-transform: uppercase;
  margin-bottom: 30px;
  cursor: default;
  font-weight: 700;
  font-size: 40px;
  line-height: 114%;
  font-style: normal;
}
.wrapCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;
  height: 1220px;
}


