.singIn {
  background-color: white;
  padding: 90px 0px 100px 0px;
}
.container {
  max-width: 1270px;
  margin: auto;
  padding: 0px 20px;
}
.wrap {
  max-width: 550px;
  margin: auto;
  border: 1px solid #e7e7e7;
}
.wrapTitleForm {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e7e7e7;
}
.title {
  width: 239px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #313037;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 26px 0px 20px 0px;
  cursor: pointer;
}
.titSingIn {
  border-bottom: 2px solid black;
}
.titSingUp {
  color: #a8a8a8;
}
.form {
  padding: 32px 32px 40px;
}
.singInTitle {
  text-align: center;
  margin-top: 30px;
  font-size: 27px;
  color: red;
}
