.wrapCard {
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
}
.wrapImgCard {
  width: 100%;
  max-height: 410px;
  background-color: #d7e4fd;
  margin-bottom: 10px;
}
.img {
  width: 100%;
  max-height: 410px;
  object-fit: contain;
  object-position: center;
}
.title {
  width: 100%;
  text-align: justify;
  margin-bottom: 8px;
  height: 57px;
}
.subTitle {
  width: 100%;
  text-align: justify;
  color: lightgrey;
  margin-bottom: 15px;
}
.wrapPriceRating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.price {
  color: rgb(49, 48, 55);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.rating {
  display: flex;
  align-items: center;
}
.star-svg {
}

@media screen and (max-width: 1201px) {
  .title {
    font-size: 17px;
  }
  .subTitle {
    font-size: 16px;
  }
  .price {
  }
  .rating {
  }
}

@media screen and (max-width: 769px) {
  .img {
    max-height: 359px;
  }
  .wrapImgCard {
    max-height: 359px;
  }
  .title {
    font-size: 24px;
  }
}
