.wrapCard {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
  width: 100%;
}
.wrapCard:last-child {
  margin-bottom: 0;
}
.wrapImg {
  background-color: #f4eefd;
  width: 30%;
  height: 200px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.wrapContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}
.wrapTitleSubTit {
  width: 60%;
}
.title {
  color: #313037;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 20px;
}
.subTitle {
  color: #a8a8a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.wrapPriceRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.icon {
  font-size: 24px;
  color: #fc857f;
}
.wrapPriceClose {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.price {
  display: block;
  color: #313037;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
