.wrapCard {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.wrapCard:last-child {
  margin-bottom: 0;
}
.wrapImg {
  background-color: #f4eefd;
  width: 30%;
  max-height: 200px;
}
.img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  object-position: center;
}
.wrapContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}
.wrapTitleSubTit {
  width: 60%;
}
.title {
  color: #313037;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 20px;
}
.subTitle {
  color: #a8a8a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.wrapPriceRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.icon {
  font-size: 24px;
  color: #fc857f;
}
.wrapPriceClose {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.price {
  display: block;
  color: #313037;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
@media screen and (max-width: 769px) {
  .wrapContent {
    width: 100%;
    position: relative;
  }
  .wrapPriceClose {
    position: absolute;
    top: 0;
    right: 0;
  }
  .title {
    width: 90%;
  }
  .wrapImg {
    width: 35%;
  }
}
@media screen and (max-width: 489px) {
  .wrapContent {
    flex-direction: column;
  }
  .wrapImg {
    width: 100%;
    max-height: 250px;
  }
  .icon {
    font-size: 30px;
  }
  .wrapPriceClose {
    top: 3%;
    right: 3%;
  }
  .img {
    max-height: 250px;
  }
  .wrapTitleSubTit {
    width: 100%;
  }
}
