.basket {
  background-color: white;
  padding: 0px 20px;
}
.container {
  max-width: 1270px;
  margin: auto;
}
.wrap {
}
.iconArrow {
  font-size: 25px;
  margin-bottom: 25px;
}
.title {
  color: #313037;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 50px; /* 114.286% */
}
@media screen and (max-width: 426px) {
  .title {
    font-size: 32px;
  }
}
